/* .styled-list-field {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;    
} */

.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;    
}

.listWrapper{
    width: 100%;
    max-width: 1200px;
    display: flex;
    gap: 20px;
}

.listSearch{
    flex: 1;
    background-color: #FEF9E6;
    padding: 10px;    
    border-radius: 10px;
    border: 1px solid #394D5F;
    position: sticky;
    top: 10px;
}

.listTitle{
    color: #0B1320;
    margin-bottom: 10px;
}

.listItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.listItem>label{
    font-size: 14px;
}

.listItem>input{
    height: 30px;
    border-radius: 2.5px;
    border: 1px solid #394D5F;
    padding: 2.5px 10px;
    margin: 0 5px;
}

.listItem>span{
    height: 30px;
    padding: 2.5px 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 2.5px;
    border: 1px solid #394D5F;
}

.listOptions{
    padding: 10px;
}

.listOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #0B1320;
    font-size: 14px;
}

.listOptionInput{
    width: 50px;
    padding: 2.5px;
    border: 1px solid;
    border-radius: 2.5px;
    text-align: center;
}

.listSearch>button{
    width: 100%;
    padding: 10px;
    background-color: #394D5F;
    color: white;
    border: none;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2.5px;
}

.listSearch>button:hover{
    opacity: .9;
}
/* Results Area */
.listResult{
    flex: 3;
}