.header{
    background-color: #199FB1;
    background: linear-gradient(#199FB1, #199FB1 ,transparent);
    /* background-image: url(https://picsum.photos/2000/350); */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position : relative;
}

.headerContainer {
    width: 100%;
    max-width: 1200px;
    margin:  50px 0px 80px 0px;    
}

/* if type === list then adjust below */
.headerContainer.listMode {    
    margin:  20px 0px 60px 0px;
}

.headerList {
    display: flex;
    gap: 40px;
    margin-bottom: 10px;
}

.headerListItem{
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerListItem.active{
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
}

.headerBanner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    ;
}

.headerDescription{
    margin: 20px 0px;
}

.headerButton{
    border: none;
    border-radius: 2.5px;
    padding: 10px;
    color: white;
    background-color: #0D5C75;
    font-weight: 500;
    cursor: pointer;
}

.headerButton:hover{
    opacity: .9;
}

.headerSearch{
    height: 30px;
    width: 100%;
    max-width: 1200px;
    padding: 10px 0px;
    bottom: -25px;
    background-color: white;
    border: 3px solid #0D5C75;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
}

.headerIcon{
    color: lightgray;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput{
    border: none;
    outline: none;
}

.headerSearchText{
    color: lightgray;
    cursor: pointer;
}

.dateCalender{
    position: absolute;
    top: 52px;
}

.guests{
    position: absolute;
    top: 52px;
    background-color: white;
    color: gray;
    border-radius: 2.5px;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.6);
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
}

.guestItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
}

.guestCounter{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.guestCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #0D5C75;
    color: #0D5C75;
    background-color: white;
    cursor: pointer;
    border-radius: 2.5px;
}

.guestCounterButton:disabled{    
    opacity: .5;    
}